* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/dollar_background.jpg');
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-color: white;
    margin: 25px auto;
    padding: 20px;
    width: 70%;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
}

h1 {
    font-size: 25px;
    padding: 15px 0;
}

#cmf {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30px auto;
    margin-bottom: 10px;
}

.field {
    padding: 10px;
    margin: 5px auto;
    font-size: 20px;
}

.field label {
    display: block;
}

.field input {
    text-align: right;
    height: 30px;
}

.errorMessage {
    font-size: 14px;
    color: red;
}

.submit, .clear, .print, .btn-tasa {
    margin: 6px auto;
    width: 200px;
    font-weight: 300;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;
}

.submit {
    background-color: greenyellow;
    color: black;
}

.print {
    background-color: blue;
    color: white;
}

.clear {
    background-color: red;
    color: white;
}

.btn-tasa {
    background-color: whitesmoke;
    color: black;
}

#resultados {
    display: block;
    width: 75%;
}

.registro {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 40% 60%;
    gap: 10px;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;
}

.registro h2 {
    grid-column: span 2;
    border-bottom: 1px solid black;
    padding: 10px;
}

.infoLeft, .infoRight {
    text-align: left;
    padding: 10px;
}
.infoLeft {
    border-right: 1px solid black;
    font-size: 24px;
}

@media (max-width: 768px) {
    #resultados {
        width: 100%;
    }
    .infoLeft {
        font-size: 14px;
    }
}